{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Search Products</h2>
                        {% include 'partials/search.html' %}
                    </div>

                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        {% for a_product in latest_products %}
                            <div class="thubmnail-recent">

                                {% thumbnail a_product.image.image "190x190" crop="center" as im %}
                                    <img src="{{ im.url }}" class="recent-thumb">
                                {% endthumbnail %}
                                <h2>
                                    <a href="{% url 'ecommerce:single_product' a_product.slug %}">{{ a_product.title }}</a>
                                </h2>
                                <div class="product-sidebar-price">
                                    <ins>${{ a_product.price }}</ins>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="/">Home</a>
                            <a href="{% url 'ecommerce:category_wise' product.category.slug %}">{{ product.category.title }}</a>
                            <a href="">{{ product.title }}</a>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        {% thumbnail product.image.image "195x243" crop="center" as im %}{#
                                             product class ko image function ko producthasimage_Set ko image  #}
                                            {# this is copied from djanog sorl thumbiail documentation eg simple #}{# also don't forget image.image from our model class producthasimage from our context #}
                                            <img src="{{ im.url }}">
                                        {% endthumbnail %}
                                    </div>

                                    <div class="product-gallery">
                                        {% for image in product.producthasimage_set.all %}
                                            {% thumbnail image.image "190x190" crop="center" as im %}
                                                <img src="{{ im.url }}">
                                            {% endthumbnail %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{ product.title }}</h2>
                                    <div class="product-inner-price">
                                        <ins>{{ product.price }}</ins>
                                    </div>

                                    <form action="{% url 'ecommerce:cart' %}" class="cart" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id"
                                               value="{{ product.id }}">{# to identify which product have been selected #}
                                        <div class="quantity">
                                            <input type="number" size="4" class="input-text qty text" title="Qty"
                                                   value="1" name="qty" min="1" step="1"
                                                   required>{# name=qty and required #}
                                        </div>
                                        <button class="add_to_cart_button" type="submit">Add to cart</button>
                                    </form>

                                    <div class="product-inner-category">
                                        <p>Category: {{ product.category.title }} </p>
                                    </div>

                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home"
                                                                                      role="tab" data-toggle="tab">Description</a>
                                            </li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile"
                                                                       role="tab" data-toggle="tab">Reviews</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>
                                                {{ product.description | safe }}
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>

                                                {% if request.user.is_authenticated %}
                                                    <form method="post">
                                                    {% csrf_token %}
                                                        <div class="submit-review">
                                                            {#                                                    <p><label for="name">Name</label> <input name="name" type="text">#}
                                                            {#                                                    </p>#}
                                                            {#                                                    <p><label for="email">Email</label> <input name="email"#}
                                                            {#                                                                                               type="email"></p>#}
                                                            <div class="rating-chooser">
                                                                <p>Your rating</p>

                                                                {#                                                        <div class="rating-wrap-post">#}
                                                                {#                                                            <i class="fa fa-star"></i>#}
                                                                {#                                                            <i class="fa fa-star"></i>#}
                                                                {#                                                            <i class="fa fa-star"></i>#}
                                                                {#                                                            <i class="fa fa-star"></i>#}
                                                                {#                                                            <i class="fa fa-star"></i>#}
                                                                {#                                                        </div>#}
                                                                <input name="rating" max="5" style="width: 50px"
                                                                       type="number" required>

                                                            </div>
                                                            <p><label for="review">Your review</label> <textarea
                                                                    name="comment"
                                                                    id="" cols="30"
                                                                    rows="10" required></textarea>
                                                            </p>
                                                            <p><input type="submit" value="Submit"></p>
                                                        </div>
                                                    </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="related-products-wrapper">
                            <h2 class="related-products-title">Related Products</h2>
                            <div class="related-products-carousel">
                                {% for a_product in related_products %}
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            {% thumbnail a_product.image.image "350x436" crop="center" as im %}
                                                <img src="{{ im.url }}">
                                            {% endthumbnail %}
                                            <div class="product-hover">
                                                <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>
                                                    Add
                                                    to cart</a>
                                                <a href="{% url 'ecommerce:single_product' a_product.slug %}"
                                                   class="view-details-link"><i class="fa fa-link"></i> See
                                                    details</a>
                                            </div>
                                        </div>

                                        <h2>
                                            <a href="{% url 'ecommerce:single_product' a_product.slug %}">{{ a_product.title }}</a>
                                        </h2>

                                        <div class="product-carousel-price">
                                            <ins>${{ a_product.price }}</ins>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}